
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Helvetica Neue', sans-serif;
}

.app {
  background: #F7F7F7;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
  width: 90%;
  height: 96vh;
  margin: 1vh auto;
  display: flex;
  overflow-x: auto;
}

.sidebar {
  width: 390px;
  display: flex;
  flex-direction: column;
  border: 1px solid #FC0042;
}

header{
  height: 60px;
  background-color: #FC0042;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.header-avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.header-buttons {
  display: flex;
}

.header-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search {
  height: 60px;
  border-color: #FBFBFB;
  border-bottom: 1px solid #EEE;
  padding: 5px 15px;
}

.search-input {
  background-color: #FFFFFF;
  border-bottom: 1px solid #CCCCCC;
  border-radius: 4px;
  margin: 10px 10px 16px;
  height: 40px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.search-input input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  margin-left: 10px;
}

.chatlist {
  flex: 1;
  background-color: #FFFFFF;
  border: 1px solid #F7F7F7;
  overflow-y: auto;
}

.chatlist::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}

.chatlist::-webkit-scrollbar-thumb {
  background-color: #CCC;
}

.content-area {
  flex: 1;
}

@media (max-width:768px) {
  .app {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    overflow-x: auto;
  }
}