.messageLine {
    margin-bottom: 8px;
    display: flex;
}

.message-item {
    background: #FFF;
    border-radius: 10px 10px 10px 0px;
    box-shadow: 0 1px 1px #CCC;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    padding: 3px;
}

.message-text {
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    margin: 5px 44px 5px 5px;
}

.message-hour {
    font-size: 11px;
    color: #9A9A9A;
    text-align: right;
    height: 15px;
    margin-right: 10px;
    margin-top: -15px;
}