.messageLine {
    margin-bottom: 8px;
    display: flex;
}

.message-item {
    background: #FFFFFF;
    border-radius: 10px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.message-text {
    font-size: 13px;
    color: #333333;
    line-height: 20px;
    margin: 9px 15px 0;

}

.message-hour {
    font-size: 11px;
    color: #9A9A9A;
    text-align: right;
    line-height: 17px;
    margin-bottom: 7px;
    margin-right: 10px;
}