.chatContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.chat-header {
    height: 60px;
    border-left: 1px solid white;
    background-color: #FC0042;
    display: flex;
    justify-content: space-between;
}

.chat-header-info{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chat-header-avatar {
    width: 40px;
    height: 40px;
    margin: 10px 15px;
    border-radius: 50%;
}

.chat-header-name{
    font-size: 17px;
    color: white;
}

.chat-header-buttons {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.chat-header-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: all ease 0.3s;
}

.chat-body {
    flex: 1;
    overflow-y: auto;
    padding: 0 17px 10px 21px;
}

.chat-body::-webkit-scrollbar{
    width: 6px;
    height: 6px;
  }
  
  .chat-body::-webkit-scrollbar-thumb {
    background-color: #CCC;
  }

.show-more {
    font-size: 15px;
    line-height: 21px;
    color: #337AB7;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
} 

.chat-footer {
    height: 62px;
    display: flex;
    align-items: center;
    background-color: #F5F1EE;
}

.chat-footer-before {
    display: flex;
    margin: 0 15px;
}

.chat-footer-textarea {
    flex: 1;
    width: 100%;
}

.chat-footer-textarea .chat-footer-input{
    width: 100%;
    height: 40px;
    border: 0;
    outline: none;
    border-radius: 4px;
    padding-left: 15px;
    color: #A4A4A4;
    font-size: 15px;
}

.chat-footer-after {
    display: flex;
    margin: 0 15px;
}

.chat-emoji {
    height: 220px;
    overflow-y: hidden;
    transition: all ease 0.3s;
}

aside.emoji-picker-react {
    width: auto;
    background: none;
}

@media (max-width:768px) {
    .chatContent{
        width: 100%;
        min-width: 300px;
    } 
}