.chatIntro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.chatIntro img {
    margin-top: -20px;
    width: 350px;
    border-radius: 50%;
}

h1 {
    color: #FC0042;
    margin-top: -30px;
    max-width: 600px;
}

@media(max-width:768px) {
    .chatIntro {
        width: 70vw
    }
    h1{
        padding-left: 25px;
    }
}